<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top navbar-pad" role="navigation">
      <div class="container-flex">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand clearfix" href="/"><span class="glyphicon glyphicon-map-marker"></span><span>Trip Planner</span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    {% block content %}
    {% endblock %}

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfQxgWt-LSZcEmTEN8581Uq9SzZHnpuys&sensor=true"></script>
    <script>
      function initialize_gmaps(hotels, restaurants, activities) {
      // initialize new google maps LatLng object
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      // set the map options hash
      var mapOptions = {
        center: myLatlng,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: styleArr
      };
      // get the maps div's HTML obj
      var map_canvas_obj = document.getElementById("map-canvas");
      // initialize a new Google Map with the options
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      // Add the marker to the map
      var marker = new google.maps.Marker({
        position: myLatlng,
        title:"Hello World!"
      });
      console.log("activities:", activities);

      // draw some locations on the map
      var hotelLocation = [];
      var restaurantLocations = [];
      var activityLocations = [];
      if (hotels) {
        hotelLocation = hotels;
      }
      if (restaurants) {
        restaurantLocations.push(restaurants);
      }
      if (activities) {
        activityLocations.push(activities);
      }
      function drawLocation (location, opts) {
        if (typeof opts !== 'object') {
          opts = {};
        }
        opts.position = new google.maps.LatLng(location[0], location[1]);
        opts.map = map;
        var marker = new google.maps.Marker(opts);
      }
      drawLocation(hotelLocation, {
        icon: '/images/lodging_0star.png'
      });
      restaurantLocations.forEach(function (loc) {
        drawLocation(loc, {
          icon: '/images/restaurant.png'
        });
      });
      activityLocations.forEach(function (loc) {
        drawLocation(loc, {
          icon: '/images/star-3.png'
        });
      });
    }

    $(document).ready(function() {
      initialize_gmaps();
    });

    var styleArr = [{
      featureType: "landscape",
      stylers: [{
        saturation: -100
      }, {
        lightness: 60
      }]
    }, {
      featureType: "road.local",
      stylers: [{
        saturation: -100
      }, {
        lightness: 40
      }, {
        visibility: "on"
      }]
    }, {
      featureType: "transit",
      stylers: [{
        saturation: -100
      }, {
        visibility: "simplified"
      }]
    }, {
      featureType: "administrative.province",
      stylers: [{
        visibility: "off"
      }]
    }, {
      featureType: "water",
      stylers: [{
        visibility: "on"
      }, {
        lightness: 30
      }]
    }, {
      featureType: "road.highway",
      elementType: "geometry.fill",
      stylers: [{
        color: "#ef8c25"
      }, {
        lightness: 40
      }]
    }, {
      featureType: "road.highway",
      elementType: "geometry.stroke",
      stylers: [{
        visibility: "off"
      }]
    }, {
      featureType: "poi.park",
      elementType: "geometry.fill",
      stylers: [{
        color: "#b6c54c"
      }, {
        lightness: 40
      }, {
        saturation: -40
      }]
    }];

    var days = [];
    function Itinerary () {
      this.Hotels = [];
      this.Restaurants = [];
      this.Activities = [];
    }

    var activeDay;

  $(".btn-add").on("click", function () {
    var selectedItem = $(this).siblings().find(":selected").text();
    var listType = ($(this).siblings('h4').text());
    var ID = "." + listType + "-list";
    var itineraryItem = "<div class='itinerary-item'><span class='title'>" + selectedItem + "</span><button class='btn btn-xs btn-danger remove btn-circle'>x</button></div>";
    //console.log(ID, itineraryItem);
    $(ID).append(itineraryItem);
    activeDay[listType].push(itineraryItem);
    var hotels;
    var rest;
    var placa;
    if(listType === "Hotels") {
      hotels = all_hotels[1].place[0].location;
    }
    else if (listType === "Restaurants") {
     rest = all_restaurants[1].place[0].location;
    }
    else if (listType === "Activities") {
      placa = all_activities[1].place[0].location;
    }
    initialize_gmaps(hotels, rest, placa);
  });


  $(".thing-list").delegate("button", "click", function () {
    console.log("WE ARE HERE");
   $(this).closest(".itinerary-item").detach();
  });

  $('.add_day').on("click", function () {
    var nextNum = $(this).siblings().length + 1;
    var lastButtonIndex = $(this).siblings().length -1;
    var lastButton = $(this).siblings()[lastButtonIndex];
    var newButton = '<button id="day-btn-' + nextNum + '" class="btn btn-circle day-btn new-btn">' + nextNum + '</button>';
    if(!lastButton) {
      $(newButton).insertAfter(this);
    }
    else {
      $(newButton).insertAfter(lastButton);
    }
    days.push(new Itinerary());
  });

  $(".day-buttons").delegate(".new-btn", "click", function () {
    $(".day-btn").removeClass("active-day");
    $(this).addClass("active-day");
    var activeDayId = $(this).attr("id").substr(8);
    activeDay = days[activeDayId - 1];
    $(".thing-list").empty();
    $(".Hotels-list").append(activeDay.Hotels[0]);
    activeDay.Restaurants.forEach(function(current, index) {
      console.log("restaurant: ", current);
      $(".Restaurants-list").append(current);
    });
    activeDay.Activities.forEach(function(current, index) {
      $(".Activities-list").append(current);
    });

  });

  $(".removeDay").on("click",function(){
    var currentDay = ($(".active-day").attr("id").substr(8))-1;
    days.splice(currentDay);
    var ButtonsDay = $(".day-buttons").children();
    $(ButtonsDay).last().remove();
   $(".day-buttons").children().last().addClass("active-day");
     var activeDayId = $(".active-day").attr("id").substr(8);
    activeDay = days[activeDayId - 1];
    $(".thing-list").empty();
    $(".Hotels-list").append(activeDay.Hotels[0]);
    activeDay.Restaurants.forEach(function(current, index) {
      $(".Restaurants-list").append(current);
    });
    activeDay.Activities.forEach(function(current, index) {
      $(".Activities-list").append(current);
    });
  });

  </script>
  </body>
</html>